<!DOCTYPE html>
<html>
<head>
    <title>Evening Log</title>
</head>
<body>
    <h1>Evening Log</h1>
    <a href="/"> Home </a>
    <form method="POST">
        <label>Date:</label><br>
        <input type="date" name="date" required><br><br>

        <label>Good Diet (0 = No, 1 = Yes):</label><br>
        <input type="number" name="good_diet" min="0" max="1" required><br><br>

        <label>Followed Training (0 = No, 1 = Yes):</label><br>
        <input type="number" name="followed_training" min="0" max="1" required><br><br>

        <label>3 Deep Work Blocks (0 = No, 1 = Yes):</label><br>
        <input type="number" name="deep_work_blocks_3" min="0" max="1" required><br><br>

        <label>Brush Teeth (0 = No, 1 = Yes):</label><br>
        <input type="number" name="brush_teeth" min="0" max="1" required><br><br>

        <label>Sleep Preparation (0 = No, 1 = Yes):</label><br>
        <input type="number" name="sleep_preparation" min="0" max="1" required><br><br>

        <button type="submit">Submit</button>
    </form>
</body>
</html>
